.container {
  display: flex;
  flex-direction: row;

  padding: 0 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 90vh;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
